/* components/Projects.css */
.head1 {
  justify-content: start;
  color: white;
  background-color: #282929;
  padding: 20px;
  text-align: center;
}

.head2 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Responsive columns */
  gap: 20px; /* Gap between grid items */
  padding: 20px;
  background-color: #282929;
}

.project {
  background-color: #333;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out, border 0.3s ease-in-out;
  text-align: center;
  border: 2px solid transparent;
}

.project:hover {
  transform: translateY(-5px);
  border: 2px solid #61dafb;
}

.project-thumbnail {
  width: 100%;
  height: 25vh; /* Adjust height as needed */
  border-radius: 10px;
  object-fit: cover;
}

.project-description {
  margin-top: 10px;
  font-size: 14px;
  color: white;
}

@media (max-width: 768px) {
  .head1 {
    padding: 10px;
  }

  .head2 {
    font-size: 2rem;
  }

  .project {
    padding: 8px;
  }

  .project-description {
    font-size: 12px;
  }

  .projects {
    padding: 10px;
  }
}

@media (max-width: 480px) {
  .head2 {
    font-size: 1.5rem;
  }

  .project {
    padding: 5px;
  }

  .project-description {
    font-size: 10px;
  }

  .projects {
    padding: 5px;
    grid-template-columns: 1fr; /* Single column layout for small screens */
  }
}

@media (max-width: 320px) {
  .head2 {
    font-size: 1.2rem;
  }

  .project {
    padding: 3px;
  }

  .project-description {
    font-size: 8px;
  }

  .projects {
    padding: 3px;
    grid-template-columns: 1fr; /* Single column layout for very small screens */
  }
}
